.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mgs{
  margin-bottom: 300px;
  width: 1320px;
  border: 2px solid red;
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.button{
  font-size: 20px;
  border-radius: 40px;
  padding: 20px 50px;
  border: none;
  background-color: black;
  color: blue;

}
.para{
  font-size: 20px;
  color: red;
}



/* .menuu{
  width: 500px;
  height: 100vh;
  background-color: yellow;
  padding: 10px 0;
  

}
.menus{
  position: relative;
  left: -3000px;
}

 */

.menu{
  width: 80%;
  position: absolute;
  left: -100%;
  transition: 1s;
  height: 100vh;
  background-color: yellow;
  text-align: left;
}
.active{
  left: 0px;
}
.micon{
  position: absolute;
  right: 10px;
}



.menu ul li {
  list-style: none;
  padding: 10px 0;
}

.model{
 
  width: 100%;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 2s;
  height: 100%  ;
 

}
.span{
  color: white;
  font-size: 40px;
  position: absolute;
  cursor: pointer;
  right: 1%;
  top: -2%;
}
.modelShow{
  display: block;

}
.showModel{
  position: fixed;
  left: 40%;
  top: -400%;
  width: 500px;
  height: 400px;
  transition: 1s ;
  background-color: #282c34;
  border-radius: 40px;

}
.transtionModel{
  top: 30%;

}

.btn{
  position: fixed;
  right: 4px;
  transform: translateY(-50deg);
  top: 10%;
  color: #282c34;
  background-color: #61dafb;
  padding: 20px 50px;
  border-radius: 20px;
  border: none;
}


.Faqs{
  width: 100%;
  height: 250px;
  border: 1px solid red;
}


.faQuoters{
  width: 1320px;
  margin: auto;

}

.faqItems{
  border: 2px solid red;
  margin-bottom: 20px;
}

.faqItems h2{
 text-align: left;
 margin: 0;
 background-color: #282c34;
 color: white;

 padding: 4px;
}

.faqItems p{
  text-align: left;
  margin: 0;
  /* padding: 10px; */
  height: 0px;
  transform: scaleY(0);
  transition: 1s;
}
.simple{
  padding-bottom: 50px;
}

.activefaq{

  height: auto !important;
  transform: scaleY(1) !important;
  margin: 5px;
  height: auto !important;
}


.noti{
  padding: 10px;
  background-color: #282c34;
  color: aliceblue;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 10px;
}